<a href="https://colab.research.google.com/github/qmdmlot/CPE-031-Visualizations-and-Data-Analysis/blob/main/Introduction_to_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install PyQt6

Requirement already satisfied: PyQt6 in /usr/local/lib/python3.12/dist-packages (6.9.1)
Requirement already satisfied: PyQt6-sip<14,>=13.8 in /usr/local/lib/python3.12/dist-packages (from PyQt6) (13.10.2)
Requirement already satisfied: PyQt6-Qt6<6.10.0,>=6.9.0 in /usr/local/lib/python3.12/dist-packages (from PyQt6) (6.9.2)

#Example 1

In [ ]:
import pandas
mydataset = {
    'animals':["Cat","Dog","Rabbit"],
    'height':[13,17,8]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

#Example 2

In [ ]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

#Example 3

In [ ]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a,index=["x","y","z"])
print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

#Example 4

In [ ]:
import pandas as pd
calories = {"day1":420,"day2":380,"day3":390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

#Example 5

In [ ]:
import pandas as pd
data = {
    "age": [42,38,39],
    "weight": [50,40,45]
}
myvar = pd.DataFrame(data)
print(myvar)
print(myvar.loc[0])
print(myvar.loc[[0,1]])

   age  weight
0   42      50
1   38      40
2   39      45
age       42
weight    50
Name: 0, dtype: int64
   age  weight
0   42      50
1   38      40

#Example 6

In [ ]:
import pandas as pd
data = {
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df = pd.DataFrame(data,index=["day1","day2","day3"])
print(df)
print(df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64